@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;900&display=swap');

.Gram-div {
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    text-align: left;
    margin-left: 10px;


    span {
        box-sizing: border-box;
        font-family: 'Titillium Web', sans-serif;
        font-size: 12px;
        text-align: left;
        color: black;

    }
}

